*.tar.gz

issm/RUN/*
*.npy
*.tif
*.nc
*.npy*
*.pkl
*.mat
*.dbf
*.qpj
*.cpg
*.prj
*.qml
*.zip
*.shx
*.zarr
*.tar
*.gz
*.png

notebooks
venv

issm/TMP

issm/RUN*

*issm/steady*
*issm/transient*

*.egg-info
*.swp
*.pyc

*.out
*.err
*.bin
*.queue
*.outlog
*.errlog
*.toolkits

*/STATUSES/
*/OUTPUT/
*/MISC/
*/TMP/

*Amery_subglacial_lakes*

*MISC*
*OUTPUT*
*TMP*
*STATUSES*
*runtime*

*compare_ehrenfeucht*
