-e git+ssh://git@github.com/timghill/antarctic-glads.git@711be9bff22f0c2f34205d7d723e70fc95e23e09#egg=bhCal
certifi==2025.10.5+computecanada
cftime==1.6.4.post1+computecanada
cloudpickle==3.1.2+computecanada
cmocean==4.0.3+computecanada
contourpy==1.3.1+computecanada
crc32c==2.7.1+computecanada
cycler==0.12.1+computecanada
Deprecated==1.2.18+computecanada
donfig==0.8.1.post1+computecanada
fonttools==4.60.1+computecanada
joblib==1.5.2+computecanada
kiwisolver==1.4.8+computecanada
llvmlite==0.45.1+computecanada
matplotlib==3.10.1+computecanada
mpi4py @ file:///tmp/ebuser/avx2/mpi4py/4.0.3/gompi-2023a/mpi4py-4.0.3
netCDF4==1.7.2+computecanada
numba==0.62.1+computecanada
numcodecs==0.15.1+computecanada
numpy==1.25.2+computecanada
packaging==25.0+computecanada
pandas==2.3.3+computecanada
pillow==11.1.0+computecanada
pyparsing==3.2.5+computecanada
pyshp==3.0.3
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
scikit_learn==1.7.1+computecanada
scipy==1.16.2+computecanada
shap==0.49.1+computecanada
six==1.17.0+computecanada
sklearn==0.0+computecanada
slicer==0.0.8+computecanada
threadpoolctl==3.6.0+computecanada
tqdm==4.67.1+computecanada
typing_extensions==4.15.0+computecanada
tzdata==2025.2+computecanada
wrapt==1.17.3+computecanada
xarray==2025.10.1+computecanada
zarr==3.0.10+computecanada
